<h4 class="text-center">Cadastre-se</h4>

<form
  action=""
  class="form mt-4"
  [formGroup]="novoUsuarioForm"
  (submit)="cadastrar()"
>
  <div class="form-group">
    <input
      type="email"
      placeholder="E-mail"
      class="form-control"
      formControlName="email"
    />
    <app-mensagem
      mensagem="Email Obrigatorio"
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
    >
    </app-mensagem>
    <app-mensagem
      mensagem="Formato inválido"
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched
      "
    >
    </app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="Nome Completo"
      class="form-control"
      formControlName="fullName"
    />
    <app-mensagem
      mensagem="Nome Obrigatório"
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors?.required &&
        novoUsuarioForm.get('fullName')?.touched
      "
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="Usuario"
      class="form-control"
      formControlName="userName"
    />
    <app-mensagem
      mensagem="Deve ser em minusculo"
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.minusculo &&
        novoUsuarioForm.get('userName')?.touched
      "
    ></app-mensagem>

    <app-mensagem
      mensagem="usuário já existe"
      *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"
    ></app-mensagem>

    <app-mensagem
      mensagem="Username Obrigatório"
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.required &&
        novoUsuarioForm.get('userName')?.touched
      "
    ></app-mensagem>
  </div>

  <div class="form-group">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
    <app-mensagem
      mensagem="Senha Obrigatória"
      *ngIf="
        novoUsuarioForm.get('password')?.errors?.required &&
        novoUsuarioForm.get('password')?.touched
      "
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
      mensagem="Senha deve ser diferente do usuário"
    >
    </app-mensagem>
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é cadastrado? <a [routerLink]="['']">Faça o Login</a></p>
